{% extends 'base.html.twig' %}

{% block body %}

<section class="row d-flex justify-content-around m-1">

  <div class="col-12 m-4 text-dark text-center">
      <div class="h2 text-white letters">Events</div>
  </div>
{% for events in events %}
  <div class='text-justify col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 bg-white shadow-lg rounded-lg m-1'>
        
        <div class='row'>
          <div class='col text-dark text-center'>
            <p>Event:</p>
            <p class="h5">{{events.name}}</p>
          </div>
        </div>
        <div class='row'>
          <div class='col text-dark text-center'>
            <p>Type:</p>
            <p class="h5">{{events.type}}</p>
          </div>
        </div>
        <div class='row'>
          <div class='col text-dark text-center'>
              <img class="image-fluid rounded" src="{{events.image}}" >
          </div>
        </div>
        <div class='row'>
          <div class='col text-dark text-center'>
            <p>Date and Time:</p>
            <p class="h5">{{events.dateTime|date('F j, Y, g:i a')}}</p>
          </div>
        </div>
        <div class='row'>
          <div class='col text-dark text-center'>
            <p>Location:</p>
            <p class="h5">{{events.address}}</p>
          </div>
        </div>
        <div class='row'>
          <div class='col text-dark text-center mb-3'>
              <a href="/view/{{events.id}}" class="btn btn-success">View</a>
          </div>
        </div>

    </div>
  
  {% endfor %}
</section>
{% endblock %}


